body {
    background-image: url("../images/backgroundimg.jpg");
    background-attachment: fixed;
    background-size: cover;
    }

#pic {
    float: left;
    margin-right: 10px;
    height: 300px;
}

#about{
    padding-top: 100px;
}

#projects {
    padding-top: 100px;
}

form {
    padding-top: 100px;
    margin-bottom: 200px;
}

/*Footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #fafafa;
  }

  .footer p {
    margin-top: 30px;
    text-align: center;
  }
