body {
    background-image: url("../images/backgroundimg.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

#pic {
    float: left;
    margin-right: 10px;
    height: 350px;
    width: 350px;
}

#projects {
    padding-top: 40px;
    margin-bottom: 100px;
}

#about {
    margin-bottom: 50px;
}

form {
    padding-top: 40px;
    margin-bottom: 100px;
}

/*Footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fafafa;
  }

.footer p {
    margin-top: 15px;
    text-align: center;
  }

  
@media only screen and (max-width: 980px) {
    #pic {
        height: 250px;
        width: 250px;
    }
    
}

@media only screen and (max-width: 768px) {
    #pic {
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 360px) {
    #pic {
        height: 150px;
        width: 150px;
    }
}

